.MiddleCard{
    background-color: #E9F9F2;
    width: 100vw;
    height: 50vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MiddleCardText{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    margin-bottom: 20px;
}

.Logo{
    height: 25vh;
    width: 12vw;
}