.Log{
    font-family: 'Playfair Display', serif;
}

.logText{
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 40px;
    font-weight: 500;
}

.buttonBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.swapButton{
    height: 4vh;
    width: 15vh;
    background-color: #E9F9F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.swapButton:hover{
    cursor:pointer;
    background-color: #82BD86;
}

.logoutButton{
    height: 4vh;
    width: 15vh;
    background-color: #E9F9F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.logoutButton:hover{
    cursor:pointer;
    background-color: #82BD86;
}

.typeDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.boxContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

.loginBox{
    display: flex;
    width: 40vw;
    height: 60vh;
    background-color: #E9F9F2;
    margin-top: 2vh;
    flex-direction: column;
   
}

.registerBox{
    display: flex;
    width: 40vw;
    height: 60vh;
    background-color: #E9F9F2;
    margin-top: 3vh;
    flex-direction: column;

}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: white;
    border: 1px solid white;
    font-family: 'Playfair Display', serif;
    color: black;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #82BD86;
  }

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}